@import "variables/colors";

$feature45-link-bg-color           : $themecolor;
$feature45-link-color              : $white;
$feature45-active-link-color       : $themecolor;
$feature45-active-link-bg-color    : $white;
$feature45-link-border             : 1px solid darken($themecolor, 5%);
$feature45-border-radius           : 5px;