/*******************
Footer 2
*******************/
.footer2{
  padding: 60px 0;
  .f2-topbar{
    padding-bottom: 20px;
    border-bottom: 1px solid $border;
  }
  .f2-middle{
    padding-top:40px;
  }
  .link{
    color:$muted;
    padding:10px 15px 10px 0;
  }
  .general-listing{
    li a{
      i{
        font-size:9px;
        margin-right: 10px;
      }
    }
  }
  .info-box .d-flex{
    padding: 15px 0;
    border-bottom: 1px solid $border;
  }
  .subscribe-box{
    background: $border;
    padding: 25px;
    .form-control{
      background: transparent;
      padding: 10px 0;
      border:0;
      border-bottom: 1px solid $border;
      color:$white;
      border-radius:0;
      &:focus{
        border-bottom: 1px solid $white;
      }
    }
  }
}
