/*******************
Footer 4
*******************/
.footer4{
  .f4-bottom-bar{
    padding-top: 10px;
    margin-top: 20px;
    a {
      color: $bodytext;
      &:hover {
        color: $info;
      }
    }
  }
  .round-social.light {
    a {
      width: 34px;
      height: 34px;
      line-height: 34px;
      &:hover {
        background: $info;
      }
    }
  }
}

/*******************
Footer 4
*******************/
.footer4{
  .f4-bottom-bar{
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid $border;
  }
}

/*******************
Footer 4
*******************/
.footer4{
  .f4-bottom-bar{
    padding-top: 10px;
    margin-top: 20px;
    a {
      color: $bodytext;
      &:hover {
        color: $info;
      }
    }
  }
  .round-social.light {
    a {
      width: 34px;
      height: 34px;
      line-height: 34px;
      &:hover {
        background: $info;
      }
    }
  }
}