
/*******************
Header 15
*******************/
.h15-topbar{
  border-bottom: 1px solid $border;
  .navbar-brand{
    font-size: 14px;
    color:$dark;
    font-weight: 500;
    padding: 15px 0;
  }
  .navbar{
    padding: 0;
    .search-box{
      padding: 15px;
      width: 240px;
    }
    .nav-item .nav-link{
      color:$muted;
      padding: 15px 20px;
      &:first-child{
        padding-left:0;
      }
    }
    .nav-item:hover .nav-link{
      color:$info;
    }
    .search {
      .dropdown-menu{
        padding: 20px;
        min-width: 300px;
      }
    }
  }
}
.h15-navbar {
  .navbar{
    padding: 0;
    .hidden-lg-up{
      padding:15px;
      color:$dark;
      font-weight: 500;
      font-size: 14px;
      text-transform: uppercase;
    }
    .navbar-nav{
      .nav-link{
        padding:18px 15px;
        color:$dark;
        font-weight: 400;
        font-size: 14px;
        border-bottom: 1px solid transparent;

      }
      .nav-item:hover .nav-link, .nav-item.active .nav-link{
        color:$info;
        border-bottom: 1px solid $info;
      }
      .search {
        .nav-link{
          @include linear-gradient (to right, $success 0%, $success-dark 100%);
          color:$white;
          padding: 18px 23px;
          transition: 0.2s ease-in;
        }
        &:hover .nav-link{
          color:$white;
          @include linear-gradient (to left, $success 0%, $success-dark 100%);
          border-bottom: 1px solid transparent;
        }
        .dropdown-menu{
          padding: 20px;
          min-width: 300px;
        }
      }
    }
    .dropdown-menu{
      background:$info;
      border-radius: 0 0 4px 4px;
      margin-top:0;
      .dropdown-item{
        color:$white;
        &.active, &:active, &:hover{
          background: $border;

        }
      }
    }
  }
}
.h15-info-bar{
  padding: 15px0;
  .donate-btn{
    a{
      font-size:13px;
      font-weight: 500;
      padding: 13px 25px;
      margin-left: 15px;
    }
  }
  .nav-item .nav-link{
    display: flex;
    padding: 0 25px;
  }
}

@media(max-width:1023px) {
  .h15-info-bar{
    .donate-btn{
      a{
        display: block;
        margin-left:0;
      }
    }
    .nav-item .nav-link{
      padding: 0 10px;
      margin: 10px 0;
    }
  }
}

