
/*******************
Form 5
*******************/

.form5 {
  background-size: cover;
  background-attachment: fixed;
  background-position: left center;
  .text-box {
    padding: 10px 15px;
  }
  .input-icon {
    i {
      top: 17px;
      right: 30px;
    }
  }
}
