
/*******************
form 7
*******************/

#banner3 {
  h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  input,
  button {
    line-height: 30px;
  }
  input[type=text] {
    border-radius: 3px 0 0 3px;
    text-overflow: ellipsis;
  }
  button {
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
  .suggetion {
    i {
      font-size: 34px;
      color: $white;
      position: absolute;
      left: 0;
      top: 0;
    }
    span {
      display: inline-block;
      padding-left: 50px;
    }
  }
}

@media (max-width: 992px) {
  #banner3 {
    h2 {
      font-size: 30px;
      padding: 0 15px;
    }
  }
}

@media (max-width: 767px) {
  #banner3 {
    h2 {
      font-size: 26px;
    }
    .col-sm-6 {
      margin-right: auto;
      margin-left: 0 !important;
    }
  }
}

@media (max-width: 428px) {
  #banner3 {
    padding-bottom: 50px;

    h2 {
      font-size: 22px;
    }
  }
}

@media (max-width: 590px) {
  #banner3 {
    .form-data {
      padding: 0 15px;
    }
    .suggetion {
      padding: 0 15px;
    }
  }
}