/*******************
form 9
*******************/

#banner4 {
  h2 {
    font-size: 36px;
    line-height: 1.2;
  }
  button {
    border-radius: 0;
    line-height: 43px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      opacity: 0.95;
    }
  }
  input,
  .span-select {
    border-radius: 0;
    font-size: 12px;
    line-height: 1.7;
    border: none;
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    color: $bodytext;
    font-weight: 300;
    display: block;
  }
  .form-data {
    border: 15px solid rgba(34, 50, 70, 0.5);

    select {
      background: tranparent;
      font-size: 12px;
      color: $bodytext;
      font-weight: 300;
    }
    .sec-icon {
      i {
        left: 15px;
        top: 18px;
        position: absolute;
        font-size: 20px;
        z-index: 10;
      }
    }
    .date label {
      position: absolute;
      right: 15px;
      top: 8px;

      i {
        left: 0;
        top: 0;
      }
    }
    .span-select {
      overflow: hidden;
      position: relative;

      i {
        right: 0;
        top: 8px;
        left: auto;
        position: absolute;
        font-size: 20px;
      }
      select {
        min-width: 250px;
      }
    }

  }
}

@media (max-width: 767px) {
  #banner4 {
    .b-b {
      border: none;
    }
    h2 {
      font-size: 32px;
    }
    input {
      margin-left: 20px;
    }
  }
}

@media (max-width: 428px) {
  #banner4 {
    .form-data {
      overflow: hidden;

      .span-select {
        select {
          width: 110%;
        }
      }
    }
  }
}

@media (max-width: 320px) {
  #banner4 {
    input,
    select {
      padding-left: 0;
      padding-right: 0;
    }
    input {
      margin-left: 45px;
    }
    .form-data {

      .bg-white {
        padding-left: 0;
        padding-right: 0;
      }
      .sec-icon {
        i {
          left: 10px;
        }
      }
      .date {
        label {
          right: 25px;
        }
      }
      .span-select {
        i {
          right: 10px;
          left: auto;
        }
        select {
          margin-left: 20px;
          width: 100%;
        }
      }
    }
  }
}
