
/*******************
form 8
*******************/

.form8 {
  .blog-row {
    margin-bottom: 30px;
    a {
      color: $dark;
      &:hover {
        color: $themecolor;
      }
    }
    h5 {
      font-weight: 500;
      margin-top: 10px;
    }
  }
}
